{% extends 'base.html' %}

{% block content %}
<div class="text-center mb-5">
    <h2 class="fw-bold">Interacciones y Engagement</h2>
    <p class="text-muted">Likes, comentarios, compartidos y guardados.</p>
</div>

<div class="row">
    <div class="col-12">
        <div class="card border-0 shadow-sm p-5 text-center chart-placeholder">
            <img src="{{ url_for('static', filename='plots/' + plot1) }}" alt="Interacciones por horario">
            <p>La interacción que más predice aparecer en Explorar es: <strong>{{ mejor_interaccion }}</strong></p>
        </div>
    </div>
</div>
{% endblock %}
